*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  user-select: none;
}
html,body{
  height: 100%;
  width: 100%;
}

#main{
  min-height: 100vh;
  width: 100%;
}
#nav{
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}
#rightnav{
  display: flex;
  align-items: center;
  gap: 18px;
}
#nav #links{
  display: flex;
  gap: 55px;
}
#nav #links a{
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  font-weight: 600;
}

#nav button{
  padding: 9px 32px;
  font-size: 18px;
  background-color: rgb(145, 212, 145);
  border-radius: 25px;
  border: none;
  color: green;
  font-weight: 500;
  cursor: pointer;
}

#home{
  width: 100%;
  min-height: 90vh;
  display: flex;
}
#left{
  width: 35%;
  min-height: inherit;
  position: relative;
}


#left #text{
  position: absolute;
  width: 85%;
  right: -18%;
  top: 10%;
}

#left #text h1{
  font-size: 3.6vw;
  line-height: 1.2;
}

#left #text p{
  margin-top: 1vw;
  width: 30vh;
  margin-bottom: 2vw;
  line-height: 1;
  font-size: 2vh;
}

#left #text button{
  padding: 1vw 1.5vw;
  background-color: rgb(145, 212, 145);
  border: none;
  font-size: 1.6vw;
  border-radius: 5vw;
  cursor: pointer;
}
#center{
  width: 40%;
  min-height: inherit;
  background-image: url(https://images.unsplash.com/photo-1497290756760-23ac55edf36f?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#right{
  width: 25%;
  min-height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 5.4vw 5vw;
}

#right #circle{
  height: 4vw;
  width: 4vw;
  background-color: aqua;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 1.3vw;
  cursor: pointer;
}

.cols{
  margin-bottom: 3vw;
}

.cols h6{
  opacity: .4;
  margin-top: 0.6vw;
  font-weight: 400;
}

.cols h5{
  letter-spacing: 0.1vw;
  font-size: 2vw;
  font-weight: 500;
  line-height: 1;
}


#right #icons{
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  cursor: pointer;
}

@media(max-width:500px){
 #main #home{
  flex-direction: column;
 }
 #nav #links{
     display: none;
  }
  #home #left{
    padding: 5vw;
    width: 100%;
    min-height: 10vh;
  }
 #home #left #text
 {
  position: static;
 }
 #home #left #text h1{
   font-size: 5vw;
   letter-spacing: 1px;
   cursor: pointer;
 }
 #home #left #text p{
  width: 100%;
  letter-spacing: 1px;
 }

 #home #left #text button {
  font-size: 3vw;
  padding: 2vw 3vw;
 }
 
 #home #center{
   min-height: 50vh;
   width: 100%;
   background-position: center;
   padding: 2vw 2vw;
 }
 #home #right{
  width: 100%;
  min-height: 40vh;
  padding: 10vw 10vw;
 }

}


